/* screen.css: Screen Styles */


/* Base Styles */

/* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }

/* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }

/* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/* Body */

body {
  font-family:  Helvetica, "Liberation Sans Narrow", Arial, sans-serif;
  font-size: 0.75em;
  line-height: 1.333em;
}


/* Header */
header {
}
header h1 {
  font-family: Verdana, "DejaVu Sans", Geneva, sans-serif;
  font-size: 1.875em;
  line-height: 1.333em;
}
header h1 a {
}
header p.tagline {
}
header ul.accessibility {
}


/* Element hierarchy:
    <main>
      <article id="[area]">
        <section id="[focus]">
          <div class="topic">
          <div class="abstract">
          <div class="example">
          <div class="take-away">
*/


/* Main */

main {
}

/* Article ("Area") - contains element "section" */

article {
    background-color: rgb(242,250,255);    /* hsv(205,005,100) */
    padding: 3.0%;
}

article h2 {
  font-size: 1.5em;
  line-height: 1.333em;
}

/* Section ("focus") - contains div.topic, div.abstract, div.example, div.take-away */
/* This is typography, etc. – layout is below  */

section {                           /* Four-value syntax {item: top right bottom left} */
  background-color: rgb(217,239,255);    /* hsv(205,015,100) */
  padding: 1.25% 1.25% 1.25% 1.25% ;
}

div.topic {
  font-family: Verdana, "Liberation Sans", Geneva, sans-serif;
  font-size: 1.125em;
  line-height: 1.333em;
/*  border: 1px solid black; */
}

div.abstract {
/*  border: 1px solid black; */
}

div.example {
/*  border: 1px solid black; */
}

div.example h3 {
  font-family: "Liberation Sans Narrow", "Arial Narrow", Arial, sans-serif;
  font-size: 0.75em;
  line-height: 1.333em;
}

div.take-away {
  font-size: 1.125em;
  line-height: 1.333em;
  text-align: right;
/*  border: 1px solid black; */
}



/* Responsive grid layout */

.row {
  margin: 0 0 0 0; /* Four-value syntax {margin: top right bottom left} */
}
.row:last-child {
  margin-bottom: 3%;
}


@media all and ( min-width: 600px ) {

    .topic {
      float: left;
      width: 33%;
      padding-left: 1.25%;
      padding-right: 1.25%;
    }
    .example {
      float: left;
      width: 33%;
      padding-left: 1.25%;
      padding-right: 1.25%;
    }
    .abstract {
      float: left;
      width: 51%;
      padding-left: 1.25%;
      padding-right: 1.25%;
    }
    .take-away {
      float: left;
      width: 51%;
      padding-left: 1.25%;
      padding-right: 1.25%;
    }

    /* CSS image replacement */

    #exrsa {
      width:  200px;
	    height: 180px;
	    background-image: url("gfx/PSED/rsa-200.png");
    	background-repeat: no-repeat;
    }

    #exrsa span {
    	display: none;
	  }

    #exsp {
      width:  200px;
	    height: 200px;
	    background-image: url("gfx/P380/scatterplot-200.png");
    	background-repeat: no-repeat;
    }

    #exsp span {
    	display: none;
	  }

}

@media all and ( max-width: 599px ) {

    /* CSS image replacement */

    #exrsa {
      width: 100px;
	    height: 90px;
	    background-image: url("gfx/PSED/rsa-100.png");
    	background-repeat: no-repeat;
    }

    #exrsa span {
    	display: none;
	  }

    #exsp {
      width:  100px;
	    height: 100px;
	    background-image: url("gfx/P380/scatterplot-100.png");
    	background-repeat: no-repeat;
    }

    #exsp span {
    	display: none;
	  }

}


/* Footer */
footer {
}
footer p.credits {
}
footer ul.validators {
}
footer ul.validators li {
}



